{% extends 'base.html' %}
{% load static %}
{% block body_block %}


<div class='row'>
    <div class = "col-md-0">
        <!-- <img src="{% static project.image %}" alt="oh shucks" width="100%"> -->
    </div>
    <div class = 'col-md-6'>
        <h1>{{ project.title }}</h1>
        <h5>About the project</h5>
        <p> {{ project.detailed_description|linebreaks }} </p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
        <br>
        <h5>GitHub link:</h5>
        <a href="{{ project.github }}">{{ project.github }}</a>
    </div>
    <div class = "col-md-6">
        <!-- <img src="{% static project.image %}" alt="oh shucks" width="100%"> -->
    </div>
</div>

{% endblock %}